@charset "utf-8";
/* CSS Document */

#maincd
{
	background: rgba(255,255,255,.25);
	width: 80%;
	height: 153px;
	padding: 20px 20px 0;
	margin-left: 0%;
	border-radius:10px;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	/*background: -moz-linear-gradient(top, #C3CCE0, rgba(80, 117, 124, 0.76));
	background: -webkit-gradient(linear, right top, right bottom, from(#C3CCE0), to(rgba(80, 117, 124, 0.76)));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff', EndColorStr='#eeeeee', GradientType=0);
	border: 1px solid #CCC;
	-moz-box-shadow: 1px 1px 5px #555;
	-webkit-box-shadow: 1px 1px 3px #555;
	box-shadow: 1px 1px 3px #555;
	-khtml-box-shadow: 1px 1px 3px #555;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;*/
}

#maincd span
{
	color: #111010;
	padding: 6px 12px;
	margin: 0 2px;
	border: 2px #B2B3B4 groove;
	border-radius: 4px;
	font-weight: 800;
	cursor:pointer;
}

#maincd span:before {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #727272; 
    position: absolute;
    top: 16px;
    left: -12px;
}

#maincd h5
{
	color: #DAAAAA;
	padding: 25px 0 0 0;
	margin: 0;
	text-align: left;
	font-weight: 100;
}

#inputqs
{
	width: 168px;
	color: #111010;
	padding: 5px 12px;
	border: 1px #C3C6CC groove;
	border-radius: 4px;
	font-weight: 800;
}

#butqs
{
	color: #F8F2F2;
	background-color: #394E6F;
	padding: 1px 15px;
	border: 0;
	box-shadow: 0 2px #222846;
	border-radius: 4px;
	font-size: 16px;
	cursor:pointer;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}


#maincd select
{
	color: #111010;
	padding: 4px 12px;
	margin: 0 2px;
	border: 1px #C3C6CC groove;
	border-radius: 4px;
	font-weight: 800;
	float: left;
}

#schpb
{
	background-color: #EDCFCC;
	float: left;
	width: 28.3%;
	height: 198px;
	margin-left: 3%;
	background: url(../../images/img1.JPG) no-repeat 0 100%;
}

#mesg
{font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;}

#mesg h2
{
	color: #F1E7E9;
	margin: 5% 0 0 0;
	font-size: 35px;
	font-weight: 800;
	text-decoration: blink;
	text-shadow: 1px 1px 0 black;
}

#mesg h5
{
	margin: 1% 0 1% 0;
	color: #F1E7E9;
	font-size: 16px;
	font-weight: 100;
}

