@charset "utf-8";
/* CSS Document */

.selecteur
{
	border:0px;
	height:25px;
	width:200px;
	background-color:#FFC;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#DisplayCadreRAT
{
	float:left;
	width:700px;
	height:auto;
	margin-top:-10px;
}

.window
{
	width:485px;
	height:200px;
	float:left;
	margin-left:10px; 
	margin-top:10px;
	-khtml-box-shadow:1px 1px 3px #555;
	box-shadow:0px 0px 10px black;
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;-moz-box-shadow:1px 1px 3px #555;
	background: -webkit-gradient(linear, right top, right bottom, from(b7d2dd), to(#053d65));
	background:url(chat_bgr.png);
}

.Wheader
{
	width:483px;
	height:25px;
	color:#369;
	font-size:13px;
	font-family:Verdana;
	text-align:center;
	background: #f8f8f8; 
	background: -moz-linear-gradient(top, #fff, #eeeeee); 
	background: -webkit-gradient(linear, right top, right bottom, from(#fff), to(#eeeeee)); 
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff', EndColorStr='#eeeeee', GradientType=0); 
	border:1px solid #f2f2f2;
	-moz-box-shadow:1px 1px 3px #555;-webkit-box-shadow:1px 1px 3px #555;box-shadow:1px 1px 3px #555;-khtml-box-shadow:1px 1px 3px #555; 
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;

}

.Wbody
{
	width:485px;
	height:150px;
}

.button_text{
	-khtml-box-shadow:1px 1px 3px #555; 
	height:20px;
	color:#467f90;
	font-size:16px;
	border:#FFFFFF 0px;
	box-shadow:0px 0px 5px black;
	border-radius:5px 5px 0 0;
	

}
.button_text4{
	-khtml-box-shadow:1px 1px 3px #555; 
	height:20px;
	color:#000033;
	font-size:16px;
	border:#FFFFFF 0px;
	box-shadow:0px 0px 5px black;
	border-radius: 0 0 5px 5px;

}
.WbodyL
{
	width:150px;
	height:150px;
	float:left;
}
.WbodyR
{
	
	width:327px;
	height:150px;
	float:left;
	padding-left:8px;
}

.Wfooter
{
	width:483px;
	height:25px;
	color:#369;
	font-size:15px;
	font-family:Verdana;
	text-align:center;
	background: #f8f8f8; 
	background: -moz-linear-gradient(top, #fff, #eeeeee); 
	background: -webkit-gradient(linear, right top, right bottom, from(#fff), to(#eeeeee)); 
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff', EndColorStr='#eeeeee', GradientType=0); 
	border:1px solid #f2f2f2;
	-moz-box-shadow:1px 1px 3px #555;-webkit-box-shadow:1px 1px 3px #555;box-shadow:1px 1px 3px #555;-khtml-box-shadow:1px 1px 3px #555; 
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;
}

.paragh
{
	padding:0;
	margin:0;
	text-align:center;
}

.field
{
	background-color:#FFC;
	width:222px;
	height:20px;
}
.fieldOption
{
	background-color:#FFC;
	height:25px;
}

#divRef
{
	background-color:#FFC; 
	width:1000px; 
	height:25px; 
	border-bottom:ridge #F60; 
	border-top:ridge #F60; 
	padding-top:5px;
}
#divRefError
{
	background-color:#F99; 
	width:1000px;  
	border-bottom:ridge #F60; 
	border-top:ridge #F60; 
	padding-top:5px;
}

#divRefGood
{
	background-color:#3FF; 
	width:1000px; 
	height:25px; 
	border-bottom:ridge #F60; 
	border-top:ridge #F60; 
	padding-top:5px;
}

#seperatorDiv
{
	 width:1000px; 
	 height:100px;
}
#container
{
    width:800px; 
	height:430px; 
	margin:0 auto;
	padding-top:70px;
	background:url(chat_bgr.png);
	border-radius:10px;
	box-shadow:0px 0px 15px black;
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;-moz-box-shadow:1px 1px 3px #555;
	background: -webkit-gradient(linear, right top, right bottom, from(b7d2dd), to(#053d65));
	
	-moz-box-shadow:1px 1px 3px #555;-webkit-box-shadow:1px 1px 3px #555;box-shadow:1px 1px 3px #555;-khtml-box-shadow:1px 1px 3px #555; 
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;	
}
#containerField
{ 
	 width:620px; 
	 height:355px; 
	 float:none;
	 color: #000;
	 font-size:14px;
	 font-family:Verdana;
	 border-radius:7px;
	 border:2px #003 dotted;
}

#leftSide
{
	width:200px; 
	height:355px; 
	float:left;
}
#imageSide
{ 
	width:200px; 
	height:175px;
}
#commentSide
{ 
	width:200px; 
	height:145px; 
}
#priceSide
{
	-khtml-box-shadow:1px 1px 3px #555; 
	height:30px;
	width:200px;
	font-weight:200;
	margin-bottom:5px;
	padding-top:5px;
	color: #000000;
	text-align:center;
	background:#00FF66;
	font-size:16px;
	border:#FFFFFF 0px;
	fieldset:webkit-border-radius: 8px; moz-border-radius: 8px;  border-radius: 8px;
	box-shadow:0px 0px 10px black;
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;-moz-box-shadow:1px 1px 3px #555;
	background: -webkit-gradient(linear, right top, right bottom, from(#00CC00), to(#006666));
}
#rightSide
{
	width:420px; 
	height:335px; 
	float:left; 
	padding-top:20px;
	text-align:left;
}
#TFstyle
{
	resize:none; 
	width:220px; 
	height:75px; 
	background-color:#FFC;
}