@charset "utf-8";
/* CSS Document */

#mainContentH
{
	width:99.9%;
	height:auto;
	margin:0 auto;
	margin-top:11px;
}

#DisplayCadreHLP
{
	float: left;
	width: 70%;
	height: auto;
	padding-top: 15px;
	padding-left: 3%;
	margin-top: -4px;
	margin-left: 15px;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

#help
{
	background-color:#FFF;
	padding: 1% 2%;
}

#help h1
{
	margin: 0;
	padding: 0;
	color: #162679;
}

#help span
{
	margin: 0;
	padding: 0;
	color: #0A0A0A;
	font-size: 18px;
}

#help h3
{
	padding: 1% 0;
	margin: 0;
}

#help h6
{
	margin: 0;
	font-size: 20px;
	color: #070EA8;
}

#help select
{
	padding: 0.6%;
	font-weight: bold;
	border: 1px solid #54729E;
}

#pQ
{
	
}

#pQ p
{
	width: 57%;
	border: 1px solid #2D1FD3;
	margin: 1% 2px;
	padding: 1%;
	color: rgb(139, 50, 22);
}

#pQ p /* for the javascript */
{
	display:none;
}

#qtform
{
	
}

.jlbform
{
	margin: 15px 0 0 0;
	font-size: 17px;
	font-weight: bold;
	color: #1A3074;
}

.inpform
{
	margin: 0;
}

.inpform input
{
	width: 33%;
	padding: 0.5%;
	color: #4E1C1C;
}

.inpform textarea
{
	resize: none;
}

#butsend
{
	margin:0;
	padding: 0 32% 0;
}

#butsend input
{
	border: 2px solid #CAC7E2;
	padding: 0.5% 7%;
	font-size: 20px;
	font-weight: bold;
	background-color: #7A8CC3;
	border-radius: 8px;
}
