@charset "utf-8";
/* CSS Document */

#DisplayCadrePRT
{
	float: left;
	width: 70%;
	height: auto;
	padding-top: 15px;
	padding-left: 3%;
	margin-top: -4px;
	margin-left: 15px;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

#authentif
{
	width: 100%;
	margin: 0;
}

#auth_sinup
{
	background-color: #96a4a7;
	width: 60%;
	float: left;
	padding-bottom: 12px;
	height: 308px;
}

#auth_sinup h4
{
	margin: 0;
	padding: 10px 3% 0;
	font: 17px;
	font-weight: 700;
	color: #0D0D7E;
}

#auth_sinup h5
{
	margin: 0;
	padding: 5px 3%;
	font: 16px;
	font-weight: 700;
}

#auth_sinup p
{
	margin: 0;
	padding: 0 3%;
	word-spacing: 5px;
	font-size: 15px;
}

#auth_sinup a
{
	color: #E8E8F3;
	text-decoration: none;
	margin-left: 30%;
	background-color: #50747c;
	padding: 4px 9px;
	border-radius: 5px;
	font-weight: 100;
}

#auth_login
{
	background-color: #BEC5C7;
	width: 40%;
	float: left;
	padding-bottom: 12px;
	height: 308px;
}

#authlogbut
{
	padding: 49px 15% 5px;
}

#authlogbut strong
{
	font-size: 18px;
}

#authlogbut span
{
	cursor: pointer;
	text-shadow: 0 0 0;
	background-color: #50747c;
	color: #E8E8F3;
	margin: 0 0 0 10px;
	padding: 2px 20px;
	font-size: 17px;
	border-radius: 5px 5px 0 0;
}

.authfieldlog
{
	padding: 4px 19% 0px;
	display: none;
}

.authfieldlog a
{
	font-size: 16px;
	text-decoration: none;
	padding: 2%;
}

#slideimg
{
	background-color:#C30; 
	clear:both;
	margin-top:450px;
}

#reg_div
{
	background-color: #FFF;
	border-radius: 10px;
	margin-left: 10px;
	margin-bottom: 15px;
	padding-left: 5px;
	padding-top: 10px;
	height: 606px;
	width: 90%;
	box-shadow: 0px 0px 10px 0px black;
}

.inp
{
	width: 190px;
	padding: 3px;
}

.rw
{
    width:94%;
	text-shadow: #CCC 1px 1px 0;
	border:1px solid #999;
    border-top:1px solid #CCC;
	padding-left:3%;
	margin-bottom:15px;
}
/*.row1
{
    width:94%;
	text-shadow: #CCC 1px 1px 0;
	border:1px solid #999;
    border-top:1px solid #CCC;
	padding-left:3%;
	margin-bottom:15px;
}

.row2
{
    width:94%;
	text-shadow: #CCC 1px 1px 0;
	border:1px solid #999;
    border-top:1px solid #CCC;
	padding-left:3%;
	margin-bottom:15px;
}

.row3
{
    width:94%;
	text-shadow: #CCC 1px 1px 0;
	border:1px solid #999;
    border-top:1px solid #CCC;
	padding-left:3%;
	margin-bottom:15px;
}

.row4
{
    width:94%;
	text-shadow: #CCC 1px 1px 0;
	border:1px solid #999;
    border-top:1px solid #CCC;
	padding-left:3%;
	margin-bottom:15px;
}
*/
#tble
{
	text-shadow:none;
	font-size:12px;
	font-style:italic;
}

/*#table1
{
	text-shadow:none;
	font-family:Verdana,Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
}

#table2
{
	text-shadow:none;
	font-family:Verdana,Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
}

#table3
{
	text-shadow:none;
	font-family:Verdana,Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
}

#table4
{
	text-shadow:none;
	font-family:Verdana,Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
	style="float:left;
}*/
.reg_field
{
	background-color:#FCC;
	width:400px;
	height:30px;
	font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	font-weight:600;
	color:#CCC;
	background: -moz-linear-gradient(top, #fff, #fff); 
	background: -webkit-gradient(linear, right top, right bottom, from(#fff), to(#fff)); 
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff', EndColorStr='#eeeeee', GradientType=0); 
	border:1px ridge #FFC;
	border-radius:0 8px 8px 0;
	-moz-box-shadow:1px 1px 3px #555;-webkit-box-shadow:1px 1px 3px #555;box-shadow:1px 1px 3px #555;-khtml-box-shadow:1px 1px 3px #555; 
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;
}

.button
{
    background: #abda0f url(../../images/overlay.png) repeat-x;
    padding: 8px 10px 8px;
	margin-left: 60%;
	width:100px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:14px;
}

#spa
{
color:red;
}

/*.window
{
	width:485px;
	height:200px;
	float:left;
	margin-left:10px; 
	margin-top:10px;
	-khtml-box-shadow:1px 1px 3px #555;
	box-shadow:0px 0px 10px black;
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;-moz-box-shadow:1px 1px 3px #555;
	background: -webkit-gradient(linear, right top, right bottom, from(b7d2dd), to(#053d65));
	background:url(chat_bgr.png);
}

.Wheader
{
	width:483px;
	height:25px;
	color:#369;
	font-size:13px;
	font-family:Verdana;
	text-align:center;
	background: #f8f8f8; 
	background: -moz-linear-gradient(top, #fff, #eeeeee); 
	background: -webkit-gradient(linear, right top, right bottom, from(#fff), to(#eeeeee)); 
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff', EndColorStr='#eeeeee', GradientType=0); 
	border:1px solid #f2f2f2;
	-moz-box-shadow:1px 1px 3px #555;-webkit-box-shadow:1px 1px 3px #555;box-shadow:1px 1px 3px #555;-khtml-box-shadow:1px 1px 3px #555; 
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;

}

.Wbody
{
	width:485px;
	height:150px;
}

.button_text{
	-khtml-box-shadow:1px 1px 3px #555; 
	height:20px;
	color:#467f90;
	font-size:16px;
	border:#FFFFFF 0px;
	box-shadow:0px 0px 5px black;
	border-radius:5px 5px 0 0;
	

}
.button_text4{
	-khtml-box-shadow:1px 1px 3px #555; 
	height:20px;
	color:#000033;
	font-size:16px;
	border:#FFFFFF 0px;
	box-shadow:0px 0px 5px black;
	border-radius: 0 0 5px 5px;

}
.WbodyL
{
	width:150px;
	height:150px;
	float:left;
}
.WbodyR
{
	
	width:327px;
	height:150px;
	float:left;
	padding-left:8px;
}

.Wfooter
{
	width:483px;
	height:25px;
	color:#369;
	font-size:15px;
	font-family:Verdana;
	text-align:center;
	background: #f8f8f8; 
	background: -moz-linear-gradient(top, #fff, #eeeeee); 
	background: -webkit-gradient(linear, right top, right bottom, from(#fff), to(#eeeeee)); 
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff', EndColorStr='#eeeeee', GradientType=0); 
	border:1px solid #f2f2f2;
	-moz-box-shadow:1px 1px 3px #555;-webkit-box-shadow:1px 1px 3px #555;box-shadow:1px 1px 3px #555;-khtml-box-shadow:1px 1px 3px #555; 
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;
}

.paragh
{
	padding:0;
	margin:0;
	text-align:center;
}

.field
{
	background-color:#FFC;
	width:222px;
	height:20px;
}
.fieldOption
{
	background-color:#FFC;
	height:25px;
}

#divRef
{
	background-color:#FFC; 
	width:1000px; 
	height:25px; 
	border-bottom:ridge #F60; 
	border-top:ridge #F60; 
	padding-top:5px;
}
#divRefError
{
	background-color:#F99; 
	width:1000px;  
	border-bottom:ridge #F60; 
	border-top:ridge #F60; 
	padding-top:5px;
}

#divRefGood
{
	background-color:#3FF; 
	width:1000px; 
	height:25px; 
	border-bottom:ridge #F60; 
	border-top:ridge #F60; 
	padding-top:5px;
}

#seperatorDiv
{
	 width:1000px; 
	 height:100px;
}
#container
{
    width:800px; 
	height:430px; 
	margin:0 auto;
	padding-top:70px;
	background:url(chat_bgr.png);
	border-radius:10px;
	box-shadow:0px 0px 15px black;
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;-moz-box-shadow:1px 1px 3px #555;
	background: -webkit-gradient(linear, right top, right bottom, from(b7d2dd), to(#053d65));
	
	-moz-box-shadow:1px 1px 3px #555;-webkit-box-shadow:1px 1px 3px #555;box-shadow:1px 1px 3px #555;-khtml-box-shadow:1px 1px 3px #555; 
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;	
}
#containerField
{ 
	 width:620px; 
	 height:355px; 
	 float:none;
	 color: #000;
	 font-size:14px;
	 font-family:Verdana;
	 border-radius:7px;
	 border:2px #003 dotted;
}

#leftSide
{
	width:200px; 
	height:355px; 
	float:left;
}
#imageSide
{ 
	width:200px; 
	height:175px;
}
#commentSide
{ 
	width:200px; 
	height:145px; 
}
#priceSide
{
	-khtml-box-shadow:1px 1px 3px #555; 
	height:30px;
	width:200px;
	font-weight:200;
	margin-bottom:5px;
	padding-top:5px;
	color: #000000;
	text-align:center;
	background:#00FF66;
	font-size:16px;
	border:#FFFFFF 0px;
	fieldset:webkit-border-radius: 8px; moz-border-radius: 8px;  border-radius: 8px;
	box-shadow:0px 0px 10px black;
	-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;-moz-box-shadow:1px 1px 3px #555;
	background: -webkit-gradient(linear, right top, right bottom, from(#00CC00), to(#006666));
}
#rightSide
{
	width:420px; 
	height:335px; 
	float:left; 
	padding-top:20px;
	text-align:left;
}
#TFstyle
{
	resize:none; 
	width:220px; 
	height:75px; 
	background-color:#FFC;
}*/